body {
 
	margin : 0 ;
    padding : 0;
    font-family : sans-serif;
    padding-bottom: 300px;
    font-family: 'Calibri';
    background-color: #e4e4e4;
}
a:hover {
    text-decoration: none;
}
.btn-info{
    background-color: #12AAA7;
}
.access { 
    background : url("../images/form.jpg") no-repeat center center fixed ;
    background-size: cover ;
    background-position : center;
}
.loginPage .container { 
    width : 394px;
    height : 500px;
    text-align: center;
    background-color : rgba(0 , 0 , 0 , 0.5);
    color : #fff ;
    box-sizing = border-box;
    margin: auto;
    margin-top: 70px;
    border-radius: 50px;   
}
.loginPage .container form{
    display: block;
    padding-top: 105px;
    width: 334px;
    margin: auto;
    text-align: right;
}
.loginPage .a{
    margin-right: 266px;
    color: #e7e3e2;
    text-transform: none;
    /*text-decoration: underline;*/
    font-weight: bold;
}
.loginPage .login input{
    background: #f00;
}
.loginPage input { 
    color : white ;
    height: 45px;
    width: 200px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 67px;
    background-color: rgba(0 , 0 , 0 , 0.5);
    padding-left: 30px;
    border-radius: 20px;
    border: none;
   
    border-bottom: solid 2px dodgerblue;
}
.loginPage input:focus { 
    color : white ;
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 67px;
    background-color: rgba(0 , 0 , 0 , 0.5);
    padding-left: 30px;
    border-radius: 20px;
    border: none;
    border-bottom: solid 2px dodgerblue;
}

.loginPage input[type = "submit"]{
    width: 327px;
    display: inline-block;
    padding: 0;
    text-align: center;
    color: #fff;
    background-color: #000000e0;
    border: 0;
    border-radius: 15px;
    margin-top: 38px;
    cursor: pointer;
    margin-right: 8px;
}

.loginPage .valid{
    color:red;
    margin-bottom: 20px;
}
.loginPage input::placeholder{color: #e0e0e0}

/* ----------------------- Start Register ------------------------------------*/

.registerPage .container { 

    width: 473px;
    height: 600px;
    text-align: center;
    background-color : rgba(0 , 0 , 0 , 0.5);
    color : #fff ;
    box-sizing = border-box;
    margin: auto;
    margin-top: 10px;
    border-radius: 50px;
    
}
.registerPage .container form{
    display: block;
    padding-top: 42px;
    width: 334px;
    margin: auto;
    text-align: right;
}

.registerPage p {
    width: 233px;
    font-family: Arial;
}

.registerPage .container form a{
    margin-right: 286px;
    color: #e7e3e2;
    text-transform: none;
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
}
.registerPage .login input{
    background: #f00;
}
.registerPage input { 
    height: 45px;
    width : 300px;
    font-size: 18px;
    margin-bottom:20px;
    background-color: #fff;
    padding-left : 30px;
    border-radius: 20px;
    background-color: #fff; 
    border-color: #080705;
}
.registerPage input[type = "submit"]{
    width: 327px;
    display: inline-block;
    padding: 0;
    text-align: center;
    color: #fff;
    background-color: #000000e0;
    border: 0;
    border-radius: 15px;
    margin-top: 16px;
    cursor: pointer;
    margin-right: 8px;
}   
.registerPage input::placeholder{color: #080705}
/*------------------- End Register --------------------------*/
/*------------------- Start Header --------------------------*/
.header{
  padding: 0px 30px;
  background-color: #12AAA7;
}
.header h2{
  margin: 0;
}
.header h2 a{
  color: #fff;
}
.header h6{
    width: 100%;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
}
.collapse{
  justify-content: space-between;
  padding-left: 342px;
}
.bg-light {
  background-color: transparent !important;
}
.nav-link{
  padding: 0;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown-menu {
  top: 97%;
  left: auto;
  right: 5px;
  width: 12rem;
  padding: 10px 0px;
}
.dropdown-item{
  font-weight: 500;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background-color: #12AAA7;
}
.collapse .links li{
  display: inline-block;
  margin: 0 30px;
  /* font-size: 18px; */
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
}
.collapse .links li:hover{
  border-bottom-color: #82B541;
}
.collapse .links li a{
  display: block;
  padding: 5px 0;
  color: #fff;
}
/*------------------------ End Header ----------------------*/

/*------------------- Start Home ---------------------------*/
.home .view .item{
    background-color: #fff;
    /*padding-bottom: 36px;*/
    margin-left: 20px;
    border-radius: 11px;
    margin-bottom: 50px;
    margin-top: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px #ccc;
}



.home .view .item .image img{
    width: 100%;
    padding: 10px;
}
.home .view .item .text{
    /*margin-top: 10px;
    padding: 20px 20px 10px;*/
    text-align: center;
}
.home .view .item .text p{
    margin-bottom:5px; 
}
.home .view .item .text >span{
    margin-bottom:10px;
    display: block;
    font-family: 'Cambria';
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 8px 0 0;  
}
.home .view .item h6 span,
.home .view .item p span{
    display: inline-block;
    width: 70px;
    font-weight: bold;
}


.home form.search{
    width:100%;
    display: flex;
    justify-content:space-around;
}
.home form.search div{
    width: 40%;
    display: block;
    margin-top: 50px;
}
.home form.search div.select{
    width: 20%;
}
.home form.search input,
.home form.search select{
    height: 45px;
    display: inline-block;
    border-radius: 23px;
    width: 227px;
}
.adminbutton{
    margin:20px;
}

.home form.search .search input{
    width: 85%;
}
.select { 
/*
    width: 280px;
    margin-top: -27px;
    margin-left: 1055px;
    height:45px;
*/
}

.search{
/*
    width: 400px;   
    margin: 11px 479px;
    margin-left: 529px;
*/
}

form .search .button {
    width: 10% !important;
    height: 26px;
    border: 0;
    background-color: #12AAA7;
    border-radius: 5px;
    
}
/*------------------- End Home -----------------------------*/
/*------------------- Start view-item ---------------------------*/
.view-item .content{
    width: 50%;
    margin: 100px auto;
    margin-left: -65px;
    margin-top: 50px;
}
.view-item .image{ 
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    width: 225px;

    /*box-shadow: 0px 0px 50px 2px #aaa;*/

}
.view-item .image img{
    width: 100%;
    padding: 10px;
}
.view-item .text{
    padding: 50px 20px 20px;
    
}
.view-item .text h4{
    font-size: 48px;
}   
.view-item .text >*{
    font-size: 34px;
}
.view-item p{
    margin-bottom:5px;
    background-color: #e4e4e4;
    border-radius: 10px;
}
.view-item .text >span{
    margin-bottom:10px;;
}
.view-item .text >*{
    display: flex;
    justify-content: flex-start;
}
.view-item .text >* span:first-child{
    width: 250px;
    margin: 0;
    display: block;
}
/*------------------- End view-item -----------------------------*/

/*------------------- Start insert -----------------------------*/
.insert .content{
    padding-top: 100px;
}
.insert .form{
    margin: 50px 0 0 150px;
}
.insert .form input{
    width: 80%;
    display: block;
}
.insert .form input[type='submit']{
    margin-top: 30px;
    width: 10%;
}
/*------------------- End insert -----------------------------*/


/*------------------- Start Admin -----------------------------*/



.admin .search .button {
    width: 50%;
    height: 49px;
    border: 0;
    background-color: #12AAA7;
    border-radius: 5px;
    margin: 54px 340px -60px;
    display: block;
    margin-top: 105px;
    cursor: pointer;
}

.hov:hover {
    flex: 0 0 16%;
    max-width: 16%;

}
/*------------------- End admin -----------------------------*/
